$theme-colors: (
    "pink": #ED357E,
    "dark": #000,
    "icon": #808080,
    "red": red,
    "gray": #34495E,
    "yellow": #FACA30,
    "light": #E5E5E5,
    "orange": #E67E22,
    'darkGray': #8894A0,
    "lightGreen": rgba(212, 243, 228, 0.1),
    "green": #17A85F,
    "brown": #66332B,
    "borderColor": #c7c4c4,
    "activeBg": #ddedfd,
    'headCol': #8894a0,
    "headBg": #f1f2f3,
    "bG": #F6F8FA,
    "textDarkGray": #2a292a,
    "CardBg": #E4E4E4,
    "warning": #D50000
);

.Item {
    cursor: pointer;
    width: 100%;

    @media (min-width: 768px) {
        width: 10%;
    }
}

.line {
    height: 0.05rem;
    width: 100%;
    margin: 1rem 0;
    background: #E5E5E5;
}

.lineAddress {
    height: 0.05rem;
    width: 100%;
    margin: 1rem 0;
    background: #E5E5E5;
    @media (min-width: 992px) {
        width: 0.05rem;
        margin: auto 1rem;
        height: 4rem;
    }
}

.Cursor {
    cursor: pointer;
}

.Tab {
    height: 0.3rem;
    width: 50%;

    @media (min-width: 768px) {
        width: 15%;
    }

    @media (min-width: 992px) {
        width: 10%;
    }
}

.CartPosition {
    left: 0;

    @media (min-width: 768px) {
        left: 34%;
    }

    @media (min-width: 992px) {
        left: 38%;
    }

}

.FavPosition {
    right: 0;

    @media (min-width: 768px) {
        right: 35%;
    }

    @media (min-width: 992px) {
        right: 38.5%;
    }
}

.z-index {
    z-index: 2;
}

.sizeSmall {
    font-size: 0.7rem;
}

.size {
    font-size: 0.9rem
}

.weight {
    font-weight: 500
}

.h-1 {
    height: 0.12rem
}

.w-1 {
    width: 1.5rem
}

.w-2 {
    width: 1.2rem
}

.w-3 {
    width: 0.9rem
}

.Add {
    bottom: 5%;
    right: 4%;
    border-radius: 100%;
    width: 3rem;
    height: 3rem
}

.Progress {
    height: 0.25rem;
}

.respCardHeight {
    @media (min-width: 992px) {
        position: absolute;
        height: 80%;
        top: 8rem;
        left: 50%;
        bottom: auto;
        transform: translateX(-50%);
    }
}

.Rounded {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

input[type=radio],
input[type=checkbox] {
    accent-color: #66332B;
}

.widthH {
    width: 2rem;
    height: 2rem
}
.widthShow {
    width: 4rem;
    height: 2rem
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";